@using BasicECommerce.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}


<div class="container my-5">
    <div class="row ">
        <div class="col-md-6">
            <img src="~/theme/img/@Model.Image" alt="" class="img-fluid rounded-3">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
                <div class="col-md-12 mb-2">
                    <span class="badge bg-primary">In Stock</span>
                    <span>#235647</span>
                </div>
                <div class="col-md-12">
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <div class="col-md-6">
                        <a href="#"> Write a review</a>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    Stock Amount : <span class="badge bg-success">@Model.Stock</span>
                </div>
                <div class="col-md-12 mb-1">
                    <h4 class="text-danger"><strong>$@Model.Price</strong></h4>
                </div>
                <div class="col-md-12 mb-2">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {

                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success btn-m">
                            <i class="bi bi-cart3 me-1"></i>
                            Add to Cart
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container col-md-12">
    <div class="bd-example">
        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">Description</button>
                <button class="nav-link" id="nav-payment-tab" data-bs-toggle="tab" data-bs-target="#nav-payment" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Payment Methods</button>
                <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-review" aria-selected="false">Comment</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                <p><strong>@Model.Description</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
            </div>
            <div class="tab-pane fade" id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                <p><strong>This is some placeholder content the Profile tab's associated content.</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
            </div>
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                <p><strong>This is some placeholder content the Contact tab's associated content.</strong> Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
            </div>
        </div>
    </div>
</div>
